.containers-card {
    display: flex;
    flex: 1;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;

    .containers-th {
        $height: 30px;
        display: inline-block;
        position: relative;
        text-align: left;
        height: $height;
        line-height: $height;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;

        &.resizing .containers-resizer {
            opacity: 1;
            cursor: col-resize;
        }

        &.fixed {
            position: sticky !important;
            left: -0.1px;
            z-index: 99;
            &.shadow {
                box-shadow: inset -9px 0 8px -14px $color-black;
            }
        }
    }

    .containers-resizer {
        $padding: 8px;
        $width: 20px;

        position: absolute;
        opacity: 0;
        right: math.div($width, -2);
        top: $padding;
        bottom: $padding;
        width: $width;
        transition: opacity 0.3s ease;
        z-index: 10;
        font-size: 14px;
        font-weight: 300;
        touch-action: none;
        cursor: col-resize;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: math.div($width, 2);
            transform: translateX(-1px);
            width: 2px;
            height: 100%;
            background-color: rgba($color-gray-darken, 60%);
        }
    }

    .containers-header {
        position: sticky;
        top: 0;
        z-index: 999;
        white-space: nowrap;
        color: $color-primary-darken;
        background: rgb(97 156 194 / 20%);
        &:hover .containers-resizer {
            opacity: 1;
        }
    }

    .containers-body {
        line-height: 30px;
    }

    .containers-block {
        display: inline-block;
        font-size: 12px;
        padding: 0;
        color: $color-primary-darken;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.completed {
            background-color: darken($color-gray-light, 3%);
            color: rgba($color-primary-darken, 50%);
        }

        &.fixed {
            position: sticky;
            left: 0;
            z-index: 998;
            background-color: rgb(97 156 194 / 0%);
            &.shadow {
                box-shadow: inset -9px 0 8px -14px $color-black;
            }
        }
    }
}

.containers-filter {
    color: $color-primary-dark;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
    text-shadow: 0 0 6px rgba($color: $color-primary-dark, $alpha: 0.4);
    cursor: pointer;

    &.dangerous {
        color: $color-red;
        text-shadow: 0 0 6px rgba($color: $color-primary, $alpha: 0.2);
    }
}

.checkbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-width {
    width: 100%;
}

.unselectable {
    user-select: none;
}
.primary-darken-color {
    color: $color-primary-darken;
}

.button-green-hover:hover {
    color: white !important;
    background-color: #528E51;
}

.button-red-hover:hover {
    color: white !important;
    background-color: #9C5454;
}

.button-orange-hover:hover {
    color: white !important;
    background-color: #A9805A;
}

.button-blue-hover:hover {
    color: white !important;
    background-color: #58b;
}

.button-green-active:active {
    color: white !important;
    background-color: #476746;
}

.button-red-active:active {
    color: white !important;
    background-color: #674646;
}

.button-orange-active:active {
    color: white !important;
    background-color: #675246;
}

.button-blue-active:active {
    color: white !important;
    background-color: #464F67;
}

.placeholderColor::placeholder {
    color: #b7c5d6;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



