.about-card {
  display: flex;
  flex: 1;
  margin-top: 10px;
  padding: 20px;
  overflow: hidden;
}

.about-content {
  color: #b7c5d6;
}

.about-img {
  text-align: center;
}

.reward-img {
  display: flex;
  justify-content: center; /* Changed from space-around to center */
  gap: 10%; /* This sets a fixed gap between the items */
  padding: 20px;
}

.reward-img > div {
  text-align: center; /* This centers the text under the images */
  border: 1px solid #5590B9; /* This adds a border around the divs, you can adjust color and width */
  padding: 10px;
  border-radius: 10px; /* This adds rounded corners to your divs */
  background: #263743; /* This is a light grey background, you can adjust the color */
  width: 250px; /* Adjust the width as needed */
}

.reward-img img {
  width: 100%; /* This makes the image responsive to the div width, you may want to set a max-width */
  height: auto; /* This maintains the aspect ratio of the image */
  margin-bottom: 10px; /* This adds space between the image and the text */
}

.reward-img p {
  margin-top: 5%; /* This removes the default margin from paragraphs */
  color: #000; /* This sets the text color, you can adjust as needed */
  font-size: 10px; /* Adjust font size as needed */
}
